
<footer class="footer" id="about">
    <div class="footer__nav">
      <ul>
        <li>
          <h1> About </h1>
        </li>
        <li>
          <p>Welcome to our website. This website is designed for the ease of IIITP students. 
            Since we all need books to study and prepare for our academics but our college fails to provide us a proper library, we introduce the "E-Library".
            This E-Library will allow students to explore and download various books related to our academics.
            The team of Hardcare is delighted to present this website at HackIn by Localhost.
          </p>
        </li>
      </ul>
    </div>

    <div class="footer__addr">
      <h1>Contact</h1>
      <p>For any query or request, contact us on our social handles or GitHub provided below.</p>
      <a href="https://github.com/zaid1303">GitHub</a>
      <a href="https://www.linkedin.com/in/mohd-zaid-887207257/">LinkedIn</a>
      <h2>Made with &hearts; by team HardCare</h2>
      <h2>Zaid &#9824; Aman &#9827; Aayush &#9829; Ramprakash &#9830;</h2>
    </div>
    
  </footer>
</body>
</html>  
