<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
  
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="logo.png" alt="logo_image" width="35px" height="35px"></a>
        <a class="navbar-brand" href="/">E-Library</a>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form action="/books" method="post">
              <input type="text" id="search" placeholder="search" class="search" name="searchItem" onchange="this.form.submit()" >
            </form>
          </li>
          <li id="home"><a href="/">HOME</a></li>
          <li id="home"><a href="/book">BOOKS</a></li>
          <li class="about"><a href="#about">ABOUT</a></li>
          <li id="logout"><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
  </nav>
