<%- include('partials/admin_header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome <br>to E-Library📖</h1>
    <p class="lead">Unlocking Knowledge, One Click at a Time.</p>
  </div>
</div>

<%- include('partials/footer') %>
