<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/book.css">
</head>

<body>
  <nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">E-Library</a>
        <ul class="nav navbar-nav navbar-right">
          <li><input type="text" id="search" placeholder="search" class="search"></li>
          <li id="home"><a href="/">HOME</a></li>
          <li id="home"><a href="/upload">UPLOAD</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="logout"><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
  </nav>
  <div class="movie">
    <% foundbooks.forEach(function(element){ %>
        <img src="<%= element.avatar %>" alt="book-cover">
        <div class="movie-info">
            <h3>Title:<%= element.title %></h3>
            <h3>Author:<%= element.author %></h3>
        </div>
    <% }) %>
  </div>

<%- include('partials/footer') %>