<%- include('partials/home_header') %>

<div class="boxy">
  <ul>
  <li>
      <div class="part1">
         <h1>Welcome to </h1>
        <h1>E-Library !📖 </h1>
      </div>
      <div class="part3">This is a web application that allows users to upload and download books similar to an online library. Whether you're in need of various books for College an avid reader looking to share your favorite titles, this application has got you covered.
      </div>
  </li>
  <li>
      <img src="home2.jpg" class="part2"></img>
  </li>
  </ul>
</div>

<%- include('partials/footer') %>
 