<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/register.css">
</head>

<body>
<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-inactive"><a class="btn" href="/login">Sign in</a></li>
        <li class="signup-active"><a class="btn" href="/register">Sign up </a></li>
      </ul>
    </div>
    <div>
      <form class="form-signup" action="/register" method="post" name="form">
        <label for="email">email</label>
        <input class="form-styling" type="text" name="username" placeholder="" />
        <label for="password">password</label>
        <input class="form-styling" type="text" name="password" placeholder="" />
        <input type="checkbox" onclick="myFunction()"> Show Password
        <button type="submit" class="btn-animate ">sign up</button>
      </form>
    </div>
</div>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

</body>

</html>