/* Navbar container */
html {
  position: relative;
  /* min-height: 100%; */
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  /* min-height: 100vh; */
}

.boxy{
background-size: cover;
display: flex;
}

.part1{
  width:700px;
  height: 250px;
  padding: 10px;
  margin-left: 28px;
  text-align: center;
}

.part1 h1{
  font-family: Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bolder;
  display: flex;
  align-items: start;
}



.part3 {
  width: 700px;
  min-height: 35rem;
  font-size: 22px;
  padding: 10px;
  margin-left: 30px;
}

.part2 {
  width: 600px;
  min-height: 60rem;
  padding: 10px;
  align-self: right;
}

.boxy ul{
  display: flex;
  list-style: none;
}

.jumbotron{
  height: 360px;
}
.navbar {
    font-family: Helvetica, sans-serif;
    background-color:#47403a; /* Background color */
    border: none; /* Remove border */
    border-radius: 0; /* Remove border radius */
    padding: 10px;
  }

  
  /* Navbar brand */
  .navbar-brand {
    font-size: 24px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    color: white; /* Text color */
    margin: 0;
  }
  
  .navbar img{
    margin: -8px;
    border-radius: 100%;
  }
  /* Navbar links */
  .navbar-nav li {
    margin-left: 6px;
    font-size: 18px; /* Adjust font size */
  }
  
  .navbar-nav li a {
    color: white; /* Link color */
  }
  
  /* Navbar links on hover */
  .navbar-nav li a:hover {
    font-weight: bold;
    color: rgb(59, 30, 4); /* Hover color */
    background-color: white;
    border-radius: 25px;
  }
input{
    margin-top:5px;
    height: 40px;
    background-color: white;
    border: 2px solid rgb(59, 30, 4);
    padding: 0.85rem 0.7rem;
    margin-right: 10px;
    font-size: 18px;
    color: rgb(59, 30, 4);
    border-radius: 50px;
}

input::placeholder{
    padding-left: 10px;
    color: #aaa7a7;
    font-size: 18px;
}

input:focus{
    outline: none;
}

.footer {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  height: 30%;
  width: 100%;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 20px 0px 20px;
  color: #fffffa;
  background-color: #47403a;
  border-top: 1px solid rgb(16, 15, 15);
  position: relative;
  bottom: 0;
  z-index: -10;
}
.footer h1{
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer p{
  font-size: 16px;
  font-weight: 400;
}
.footer > * {
  flex:  1 100%;
}

.footer__nav {
  border-right: solid 2px;
  padding-left: -10px;
  display: flex;
  flex-flow: row wrap;
  flex: 2 0px;
}
.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.footer__addr {
  margin-left: 10px;
  margin-right: 1.25em;
  margin-bottom: 2em;
  padding: 10px;
  flex: 1 0px;
}
.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
}
.footer address {
  font-style: normal;
  color: #000000;
}


.footer__btn {
  height: 20px;
  width: 20px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.container .display-3, .lead{
  font-family: Helvetica; 
  font-weight: bold;
  font-size: 100px;
}